* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: black;
    color: #17D4FE;
    font-family: 'Orbitron', sans-serif;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.allButtons{
    transition: all 0.4s ease 0s;
}

.allButtons:focus {
    outline:none;
}

.allButtons:hover{
    color:white;
    transition: all 0.4s ease 0s;
}